{% extends "admin/change_list.html" %}
{% load  admin_list i18n %}

{% block filters %}
	<div id="grp-filters" class="g-d-6 g-d-l">
	    <div class="grp-pulldown-container">
	        <a href="javascript://" class="grp-button grp-pulldown-handler">
	            {% trans 'Filter' %}
	        </a>
	        <ul class="grp-pulldown-content" style="display: none; position: absolute">
				<div class="grp-module">
					<div class="grp-row">
						<a id="open_entire_tree" href="#" onclick="return false;">{% trans 'Раскрыть все' %}</a>
						<a id="collapse_entire_tree" href="#" onclick="return false;" style="float: right;">{% trans 'Свернуть все' %}</a>
					</div>
				</div>

	            {% for spec in cl.filter_specs %}
	                {% admin_list_filter cl spec %}
	            {% endfor %}
	        </ul>
	    </div>
	</div>
{% endblock %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}style.css" />
<link rel="stylesheet" type="text/css" href="{{ FEINCMS_ADMIN_MEDIA }}fein_tree.css" />

{% if FEINCMS_ADMIN_MEDIA_HOTLINKING %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
	{% else %}
	<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery-ui-1.8.13.custom.min.js"></script>
	{% endif %}
	
	<script type="text/javascript">
	    var feincms = {
	        {% if FEINCMS_JQUERY_NO_CONFLICT %}
	            "jQuery": jQuery.noConflict(true)
	        {% else %}
	            "jQuery": jQuery
	        {% endif %}
	        , "tree_structure": {{ tree_structure|default:"null" }}
	    };
	</script>
	<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}ie_compat.js"></script>
	<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}toolbox.js"></script>
	<script type="text/javascript" src="{{ FEINCMS_ADMIN_MEDIA }}fein_tree.js"></script>

{% endblock %}